body {
  background: #f4f6f8;
  font-family: Arial, sans-serif;
}

.chat-container {
  width: 400px;
  height: 500px;
  margin: 40px auto;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chat-header {
  padding: 15px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  text-align: center;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-message {
  background: #e5e7eb;
  padding: 8px 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}
.join-chat {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  text-align: center;
}

.join-chat input {
  padding: 8px;
}

.join-chat button {
  padding: 8px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
}

.chat-message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

/* My messages (right side) */
.my-message {
  margin-left: auto;
  background: #2563eb;
  color: white;
  text-align: right;
}

/* Other users' messages (left side) */
.other-message {
  margin-right: auto;
  background: #e5e7eb;
  color: black;
}

/* Sender name (for others) */
.sender-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}


.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  margin-right: 8px;
}

.chat-input button {
  padding: 8px 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
}
